/* início da página! */

body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* início da header! */

.div_header {
    background-color: rgba(238, 171, 171, 1);
    width: 100%;
    height: 80px;
}

.div_caixa {
    height: 100%;
    max-width: 1186px;
    margin-left: 122px;
}

.div_header img {
    float: left;
    height: 63px;
    width: 180px;
    padding-top: 10px;
}

.pesquisa {
    background-color: #fff;
    border-radius: 30rem;
    height: 40px;
    padding: .20rem .75rem;
    max-width: 342px;
    margin-left: 203px;
    margin-top: 17px;
    float: left;
    margin-right: revert;
}

.form-control-2 {
    width: 275px;
    background-color: transparent;
    border: 0;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: 15px;
}

.input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-pesquisa {
    background-color: transparent;
    padding: 3px 0.5rem;
    border-color: transparent;
}

.pesquisa .pesquisa-icone {
    height: 25px;
    width: 25px;
    margin: -3px;
    padding-top: 4px;
}

.ipt_pesquisa {
    width: 270px;
    height: 41px;
    margin: 17px 0 0 254px;
    display: inline;
    float: left;
    background: #FFFFFF;
    border-radius: 0px;
}

.bt_pesquisar {
    height: 41px;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-top: 33px;
    margin-left: 823px;
    font-size: 12px;
}

ul li {
    color: #000000;
    display: inline;
    margin-left: 5px;
    font-size: larger;
}

.cor_lista {
    color: white;
}

/* fim da header! */

/* início da barra/linha! */

.div_barra {
    background-color: rgba(123, 26, 26, 1);
    height: 5px;
    width: 100%;
}

/* fim da barra/linha! */

/* início do cardápio! */

.div_cardapio {
    width: 100%;
    height: 635px;
    background: #FEE1E1;
}

.img_bolo {
    height: 89px;
    width: 109px;
    float: left;
    margin: 47px 0 0 0px;
    padding: 0 0 0 53px;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    color: #000000;
    float: left;
    margin: 0 0 0 0;
    padding: 37px 0 0 384px;
}

.span_barra1 {
    background-color: #000000;
    height: 8px;
    width: 275px;
    display: inline;
    float: left;
    margin: 138px 0px 0 -267px;
    padding: 0px 0 0 0;
}

.img_torta {
    height: 89px;
    width: 98px;
    float: right;
    margin: 54px 0 0 0;
    padding: 0 40px 0 0;
}

/* início parte: BOLOS! */

.div_caixa1 {
    margin: 0px 0 0 0;
    padding: 209px 0 0 70px;
}

.div_bolo {
    height: 410px;
    float: left;
}

.div_bolos {
    background-color: #845264;
    height: 85px;
    width: 267px;
}

.h1_bolo {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 108px;
    color: white;
    padding: 0px 0 0 0;
    margin: -9px 0 0 77px;
}

.ul_bolo {
    margin: -15px 0 0 -2px;
    padding: 0 0 0 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

.ul_bolo .li_bolo {
    color: #000000;
    display: inline;
    margin-left: 5px;
    font-size: larger;
}

/* fim parte: BOLOS! */

/* início parte: BOLOS RECHEADOS! */

.div_bolo_recheado {
    height: 410px;
    float: left;
    margin: 0 0 0 122px;
}

.div_recheado {
    background-color: #845264;
    width: 431px;
    height: 85px;
}

.h1_recheado {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 108px;
    color: white;
    padding: 0px 0 0 0;
    margin: -9px 0 0 55px;
}

.ul_recheado {
    margin: -15px 0 0 -2px;
    padding: 0 0 0 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

.ul_recheado .li_recheado {
    color: #000000;
    display: inline;
    margin-left: 5px;
    font-size: larger;
}

/* fim parte: BOLOS RECHEADOS! */

/* início parte: TORTAS! */

.div_torta {
    height: 410px;
    float: left;
    margin: 0 0 0 122px;
}

.div_tortas {
    background-color: #845264;
    height: 85px;
    width: 267px;
}

.h1_torta {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 108px;
    color: white;
    padding: 0px 0 0 0;
    margin: -9px 0 0 73px;
}

.ul_torta {
    margin: -15px 0 0 -2px;
    padding: 0 0 0 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

.ul_torta .li_torta {
    color: #000000;
    display: inline;
    margin-left: 5px;
    font-size: larger;
}

/* fim parte: TORTAS! */

/* fim do cardápio1 */

/* início da barra/linha1! */

.div_barra1 {
    background-color: #000000;
    height: 8px;
    width: 100%;
}

/* fim da barra/linha! */

/* início do slideshow! */

.div_slide_show {
    background-color: #7B1A1A;
    margin: 0px 0 0 0;
    padding: 86px 0 0 0;
    height: 563px;
}

.h1_galeria {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    color: white;
    padding: 0px 0 0 571px;
    margin: -85px 0 0 0;
}

.span_barra2 {
    background-color: white;
    height: 8px;
    width: 225px;
    display: inline;
    float: left;
    margin: 5px 0px 0 -217px;
    padding: 0px 0 0 0;
}

.contençao {
    width: 693px;
    height: 463px;
    background: #EEABAB;
    overflow: hidden;
    padding: 0px 0 0 0;
    margin: 34px 0 0 320px;
}

#imageBg {
    width: 561px;
    height: 464px;
    background-size: cover;
    transition: 1s;
    padding: 0 0 0 0;
    margin: 0 0 0 66px;
}

.anterior, .proximo {
    position: relative;
    margin-top: -301px;
    width: 65px;
    height: 120px;
    background-color: #EEABAB;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
}

.anterior {
    float: left;
}

.proximo {
    float: right;
}

.contençao:hover .anterior:hover {
    background-color: #EEABAB !important;
}

.contençao:hover .proximo:hover {
    background-color: #EEABAB !important;
}

.anterior:hover {
    background-color: #EEABAB !important;
}

.proximo:hover {
    background-color: #EEABAB !important;
}

/* fim do slideshow! */

/* início da barra/linha2! */

.div_barra2 {
    background-color: #000000;
    height: 8px;
    width: 100%;
}

/* fim da barra/linha2! */

/* início do footer! */

.div_footer {
    height: 266px;
    width: 100%;
    background-color: #EEABAB;
    position: relative;
}

.img_footer {
    float: left;
    height: 78px;
    width: 210px;
    padding: 85px 0 0 122px;
}

.ul1 {
    list-style: none;
    font-size: 12px;
    word-spacing: 80px;
    float: left;
    margin: 75px 0 0 79px;
}

.ul1 .li1 {
    color: #000000;
    display: inline;
    margin-left: 5px;
    font-size: larger;
}

.img_sombra {
    float: left;
    padding: -1px 0 0 198px;
    margin: -2px 0 0 157px;
    height: 268px;
}

.img_boloo {
    float: left;
    height: 266px;
    width: 178px;
    padding: 0 0 0 0px;
    margin: 0px 0 0 -160px;
}

.p_footer {
    /* margin: 0px 0px 0 -544px;
    padding: 212px 0px 0 0px; */
    text-align: center;
    float: left;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 9999;
}


/* fim do footer! */

/* início da configuração "linkar"! */

a {
    text-decoration: none;
}

/* fim da configuração "linkar"! */

/* fim da página! */